* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ffffff;
}

.info-title {
  text-align: center;
  margin: 15px;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 20px;
  width: 300px;
  height: 340px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: inset -22px -22px 44px #d9d9d9, inset 22px 22px 44px #ffffff;
}

.category {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  color: #282828;
  font-size: 22px;
  font-weight: 500;
  background-color: #d9d9d9;
  border-radius: 20px 20px 0 0;
}

.mini-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 80px;
}

.card-info {
  width: 60%;
}

.title {
  margin-bottom: 10px;
  height: 57px;
  overflow: hidden;
  color: #282828;

  font-weight: 500;
  font-size: 14px;
}

.rating {
  font-weight: 500;
}

.price {
  padding-top: 5px;
  font-weight: 600;
  color: orange;
}

.description {
  padding: 12px;
  height: 76px;
  font-size: 9px;
  color: #757c7a;
  text-align: justify;
  overflow: hidden;
}

.button {
  margin: 15px;
  padding: 4px;
  width: 70px;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: #282828;
}
